@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #015592;
$secondary-color: #00253f;
$bg-color-section: #414141;
$text-color-white: #FFFFFF;
$text_color_error: #fd9191;
$font-roboto: 'Roboto', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;

.serch_page_step2 {
    background-color: $bg-color-section;
    padding: 20px 10px; 
    display: grid;
    flex-direction: column;
    align-items: center;    
    gap: 40px;
    margin: auto;

    h1 {
        font-family: $font-orbitron;
        font-size: 22px; 
        font-weight: bold;
        color: $text-color-white;
        text-align: center;
    }

    p.error-message {
        color: $text_color_error;
        font-family: $font-roboto;
        font-size: 14px; 
        font-weight: normal;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn_sub {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 0;

        .btn {
            background-color: $primary-color;
            text-decoration: none;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}